<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All students</title>
    <style>
        table, th, td {
            margin-top: 180px;
            border: 36px;
            color: black;
            width: 710px;
        }
    </style>
</head>
<body>
<center>
    <table>
        <caption style="text-align: center; color: black"><h1>Students</h1></caption>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>Study format</th>
            <th>Group</th>
        </tr>
        <div th:each="student:${allStudent}">
            <tr>
                <td>
                    <p th:text="${student.id}"/>
                </td>
                <td>
                    <p th:text="${student.firstName}"/>
                </td>
                <td>
                    <p th:text="${student.lastName}"></p>
                </td>
                <td>
                    <p th:text="${student.phoneNumber}"/>
                </td>
                <td>
                    <p th:text="${student.email}"></p>
                </td>
                <td>
                    <p th:text="${student.studyFormat}"/>
                </td>
                <td>
                    <form th:method="POST" th:action="@{/student_api/{studentId}/assignStudentToGroup(studentId=${student.getId()})}">
                        <select name="group" class="form-select form-select-sm" aria-label=".form-select-sm example" th:object="${group}" th:field="*{id}">
                            <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.groupName}">
                            </option>
                        </select>
                        <input type="submit" value="submit"/>
                    </form>
                </td>
            </tr>
        </div>
    </table>
</center>
</body>
</html>