<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save student</title>
    <style>
        table, th, td {
            margin-top: 255px;
            border: 36px;
            color: black;
            width: 710px;
        }
    </style>
</head>
<body>
<form th:method="POST" th:action="@{/student_api/{id}/save(id = ${groupId})}" th:object="${newStudent}">
    <div class="mb-3">
        <label for="firstName" class="form-label">First name</label>
        <input type="hidden" name="id" th:field="*{id}">
        <input type="text" class="form-control" id="firstName" aria-describedby="helpCourse" th:field="*{firstName}">
        <div id="helpCourse" class="form-text"></div>
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Last name</label>
        <input type="text" class="form-control" id="lastName" th:field="*{lastName}">
    </div>
    <div class="mb-3">
        <label for="phoneNumber" class="form-label">Phone number</label>
        <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" th:field="*{email}">
    </div>
    <div class="mb-3">
        <label>Study Format
            <select>
                <option th:each="studyFormat : ${T(peaksoft.enums.StudyFormat).values()}"
                        th:value="${studyFormat}" th:text="${studyFormat.displayValue}"></option>
            </select>
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
</body>
</html>