<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All tasks</title>
    <style>
        table, th, td {
            margin-top: 180px;
            border: 36px;
            color: black;
            width: 710px;
        }
    </style>
</head>
<body>
<center>
    <table>
        <caption style="text-align: center; color: black"><h1>Tasks</h1></caption>
        <tr>
            <th>Id</th>
            <th>Task name</th>
            <th>Text</th>
            <th>Deadline</th>
            <th>Lesson</th>
        </tr>
        <div th:each="task:${allTask}">
            <tr>
                <td>
                    <p th:text="${task.id}"/>
                </td>
                <td>
                    <p th:text="${task.taskName}"/>
                </td>
                <td>
                    <p th:text="${task.taskText}"></p>
                </td>
                <td>
                    <p th:text="${task.deadline}"></p>
                </td>
                <td>
                    <p th:text="${task.lesson.id}"/>
                </td>
                <td>

                </td>
            </tr>
        </div>
    </table>
</center>
</body>
</html>