<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All tasks</title>
    <style>
        table, th, td {
            margin-top: 180px;
            border: 36px;
            color: black;
            width: 710px;
        }
    </style>
</head>
<body>
<center>
    <table>
        <caption style="text-align: center; color: black"><h1>Tasks</h1></caption>
        <tr>
            <th>Id</th>
            <th>Task name</th>
            <th>Text</th>
            <th>Deadline</th>
            <th>Lesson</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <div th:each="task:${myAllTask}">
            <tr>
                <td>
                    <p th:text="${task.id}"/>
                </td>
                <td>
                    <p th:text="${task.taskName}"/>
                </td>
                <td>
                    <p th:text="${task.taskText}"></p>
                </td>
                <td>
                    <p th:text="${task.deadline}"></p>
                </td>
                <td>
                    <p th:text="${task.lesson.id}"/>
                </td>
                <td>
                    <a th:href="@{/task_api/update/{id}(id = ${task.id})}">
                        <button style="width: 100px; height: 40px;">Update</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{/task_api/{lessonId}/{id}/delete(lessonId = ${lessonId}, id = ${task.id})}">
                        <button style="width: 100px; height: 40px;">Delete</button>
                    </a>
            </td>
                <td>

                </td>
            </tr>
        </div>
    </table>
    <a th:href="@{/task_api/{id}/new(id=${lessonId})}">
        <button style="width: 100px; height: 40px;">Add</button>
    </a>
    <a th:href="@{/task_api/allOfTasks/{id}(id=${lessonId})}">
        <button style="width: 100px; height: 40px;">All Tasks</button>
    </a>
    <a th:href="@{/lesson_api/allOfLessonss/{id}(id=${lessonId})}">
        <button style="width: 100px; height: 40px;">Back</button>
    </a>
</center>
</body>
</html>