<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save task</title>
</head>
<body>
<center style="margin-top: 255px">
    <form th:action="@{/task_api/{id}/save(id=${lessonId})}" th:object="${newTask}" th:method="POST"  >
        <p>Task name: <input type="text" th:field="*{taskName}" placeholder="task name"/></p>
        <p>Text: <input type="text" th:field="*{taskText}" placeholder="task text"/></p>
        <p>Deadline: <input type="date" th:field="*{deadline}" placeholder="deadline"/></p>
        <p><input type="submit" value="Submit"/></p>
    </form>
</center>
</body>
</html>